* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: hsl(214, 17%, 92%);
    font-family: 'Barlow Semi Condensed';
    font-size: 0.82rem;
}

.grid-container {
    max-width: 85rem;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "daniel daniel jonathan kira"
                         "jeanette patrick patrick kira";
    gap: 2rem;
}

.grid-item {
    box-shadow: 2rem 2rem 6rem hsl(224, 10%, 45%, .5);
    border-radius: 1rem;
    padding: 2.7rem;
}
#daniel {
    position: relative;
    grid-area: daniel;
    background-color: hsl(263, 55%, 52%);
    color: hsl(214, 17%, 92%);
    z-index: -1;
}
#jonathan {
    grid-area: jonathan;
    background-color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 92%);
}
#jeanette {
    grid-area: jeanette;
    background-color: white;
    color: hsl(217, 19%, 35%);
}
#patrick {
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}
#kira {
    grid-area: kira;
    background-color: hsl(214, 17%, 92%);
    color: hsl(217, 19%, 35%);
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 2.5rem;
        border-radius: 5rem;
    }
}
.full-name {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.heading-content {
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.main-content {
    font-size: 1rem;
    line-height: 1.4rem;
}
#quotes {
    z-index: -1;
    width: 20%;
    opacity: 0.75;
    position: absolute;
    right: 5rem;
    top: 0;
}

@media (max-width:1300px){
    body {
        height: auto;
        align-items: flex-start;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "daniel jonathan""daniel jeanette""patrick kira""patrick kira";
    }
}

@media (max-width:870px){
    .grid-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        gap: 1rem;
    }
    .grid-item {
        flex: 1;
        max-width: 30rem;
    }
    #quotes {
        display: none;
    }
    .full-name {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }

    .heading-content {
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        line-height: 1.7rem;
    }

    .main-content {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}

@media (max-height:875px){
    body {
        height: auto;
        align-items: flex-start;
    }
}