* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: hsl(214, 17%, 92%);
    font-family: 'Barlow Semi Condensed';
    font-size: 0.82rem;
}

.grid-container {
    max-width: 85rem;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "daniel daniel jonathan kira"
                         "jeanette patrick patrick kira";
    gap: 2rem;
}

.grid-item {
    box-shadow: 2rem 2rem 6rem hsl(224, 10%, 45%, .5);
    border-radius: 1rem;
    padding: 2.7rem;
}
#daniel {
    grid-area: daniel;
    background-color: hsl(263, 55%, 52%);
    color: hsl(214, 17%, 92%);
}
#jonathan {
    grid-area: jonathan;
    background-color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 92%);
}
#jeanette {
    grid-area: jeanette;
    background-color: white;
    color: hsl(217, 19%, 35%);
}
#patrick {
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}
#kira {
    grid-area: kira;
    background-color: hsl(214, 17%, 92%);
    color: hsl(217, 19%, 35%);
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 2.5rem;
        border-radius: 5rem;
    }
}
.full-name {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.heading-content {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.main-content {
    font-size: 1rem;
    line-height: 1.4rem;
}
#quotes {
    display: none;
}